.invitation-page-layout {
  display: flex;
  height: 100vh;

  .invitation {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .information {
    max-width: 450px;
    min-width: 450px;
    background-color: #ffffff;
    display: flex;
    padding: 0.5rem 1.5rem;
    font-family: "Bentham", serif;
    box-shadow: -20px 0 20px 5px transparentize($color: #000, $amount: 0.98);

    .layout {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .event {
        justify-content: center;

        .title {
          text-align: center;
          font-size: 4rem;
          margin: 1rem 0 0 0;
          font-family: "forelleregular";
          font-weight: normal;
        }

        .date {
          text-align: center;
          font-size: 1.5rem;
          margin: 0 0 0.5rem;
          font-weight: normal;
        }

        .guest {
          user-select: none;
          font-size: 1.5rem;
          margin: 0.5rem 0;

          label {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .invitation-page-layout {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .invitation {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      .card {
        height: 100%;
        width: 100%;
        min-height: 100vh;
        min-width: 100vw;
        padding: 0;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        user-select: none;

        .btn-mobile {
          display: flex;
          width: 90%;
        }
      }
    }

    .information {
      flex: 1;
      max-width: 100%;
      min-width: auto;
      padding: 0.5rem 1.5rem;
      font-family: "Bentham", serif;
    }
  }
}
