.ribbon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #cde2be;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .ribbon {
    padding: 1rem 0;
    text-align: center;
    flex: 1;
  }
}
