.card {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444;
  height: 80%;
  max-height: 80vh;
  min-width: 600px;
  box-shadow: 0 0 20px 10px transparentize($color: #000, $amount: 0.95);
  padding: 2rem 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  user-select: none;

  .title {
    text-align: center;
    font-size: 4rem;
    margin: 1rem 0 0 0;
    font-family: "forelleregular";
    font-weight: normal;
  }

  .btn-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    user-select: none;

    .btn-mobile {
      display: flex;
      width: 90%;
    }
  }
}
